<div *ngIf = 'userData'>
  <form (ngSubmit) = "saveUpdatedUser(updateUser)" #updateUser = "ngForm">

        <div class="form-group">
          <label for="username">Username</label>
          <input type="text" name="username" class="form-control" [(ngModel)]=userData.username>
        </div>
        <div class="form-group">
          <label for="email">Email</label>
          <input type="text" name="email" class="form-control" [(ngModel)]=userData.email>
        </div>
        <div class="form-group">
            <select [(ngModel)]= "signUpInfo.language" name="language">
                <option *ngFor="let language of languageArray">{{language}}</option>
            </select>
        </div>


        <button [routerLink]=" ['/profile'] " (click)="saveUpdatedUser(updateUser)" type="submit" name="button">Update</button>


  </form><br>
  
</div>
